@font-face {
   font-family: 'Noto Kufi Arabic';
   font-style: normal;
   font-display: swap;
   font-weight: 100;
   src: url('file:///E:/Project/Bamukrah-0/Bamukrah/fonts/Noto Kufi Arabic/100.ttf') format('truetype');
}
@font-face {
   font-family: 'Noto Kufi Arabic';
   font-style: normal;
   font-display: swap;
   font-weight: 200;
   src: url('file:///E:/Project/Bamukrah-0/Bamukrah/fonts/Noto Kufi Arabic/200.ttf') format('truetype');
}
@font-face {
   font-family: 'Noto Kufi Arabic';
   font-style: normal;
   font-display: swap;
   font-weight: 300;
   src: url('file:///E:/Project/Bamukrah-0/Bamukrah/fonts/Noto Kufi Arabic/300.ttf') format('truetype');
}
@font-face {
   font-family: 'Noto Kufi Arabic';
   font-style: normal;
   font-display: swap;
   font-weight: 500;
   src: url('file:///E:/Project/Bamukrah-0/Bamukrah/fonts/Noto Kufi Arabic/500.ttf') format('truetype');
}
@font-face {
   font-family: 'Noto Kufi Arabic';
   font-style: normal;
   font-display: swap;
   font-weight: 600;
   src: url('file:///E:/Project/Bamukrah-0/Bamukrah/fonts/Noto Kufi Arabic/600.ttf') format('truetype');
}
@font-face {
   font-family: 'Noto Kufi Arabic';
   font-style: normal;
   font-display: swap;
   font-weight: 700;
   src: url('file:///E:/Project/Bamukrah-0/Bamukrah/fonts/Noto Kufi Arabic/700.ttf') format('truetype');
}
@font-face {
   font-family: 'Noto Kufi Arabic';
   font-style: normal;
   font-display: swap;
   font-weight: 800;
   src: url('file:///E:/Project/Bamukrah-0/Bamukrah/fonts/Noto Kufi Arabic/800.ttf') format('truetype');
}
@font-face {
   font-family: 'Noto Kufi Arabic';
   font-style: normal;
   font-display: swap;
   font-weight: 900;
   src: url('file:///E:/Project/Bamukrah-0/Bamukrah/fonts/Noto Kufi Arabic/900.ttf') format('truetype');
}
@font-face {
   font-family: 'Noto Kufi Arabic';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///E:/Project/Bamukrah-0/Bamukrah/fonts/Noto Kufi Arabic/regular.ttf') format('truetype');
}
